# 10_02: Summarizing COVID-19 data

In [1]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd

import plotly.express as px

In [2]:
covid19 = pd.read_csv('covid19.csv.gz', parse_dates=['date'], dtype_backend='pyarrow')

In [3]:
covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156710 entries, 0 to 156709
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   country                     156710 non-null  string[pyarrow]
 1   date                        156710 non-null  datetime64[ns]
 2   continent                   156710 non-null  string[pyarrow]
 3   population                  156710 non-null  int64[pyarrow]
 4   life_expectancy             151672 non-null  double[pyarrow]
 5   gdp_per_capita              148190 non-null  int64[pyarrow]
 6   population_density          156710 non-null  double[pyarrow]
 7   median_age                  156710 non-null  double[pyarrow]
 8   extreme_poverty             137966 non-null  double[pyarrow]
 9   human_development_index     156710 non-null  double[pyarrow]
 10  hospital_beds_per_thousand  122630 non-null  double[pyarrow]
 11  percent_fully_vaccinated    156710 non-null  double[pyarrow]
 12  total_cases                 156710 non-null  int64[pyarrow]
 13  total_deaths                156710 non-null  int64[pyarrow]
 14  total_excess                5737 non-null    int64[pyarrow]
dtypes: datetime64[ns](1), double[pyarrow](7), int64[pyarrow](5), string[pyarrow](2)
memory usage: 19.0 MB

In [4]:
final = covid19.groupby('country').last()
final

,date,continent,population,life_expectancy,gdp_per_capita,population_density,median_age,extreme_poverty,human_development_index,hospital_beds_per_thousand,percent_fully_vaccinated,total_cases,total_deaths,total_excess
country,,,,,,,,,,,,,,
Afghanistan,2024-09-08,Asia,40578846,61.9824,1516,62.215546,16.752,<NA>,0.462,0.39,45.270844,235213,7998,<NA>
Algeria,2024-09-08,Africa,45477391,61.6609,11198,19.09418,27.983,0.455468,0.745,1.9,14.251447,272156,6881,126117
Angola,2024-09-08,Africa,35635028,76.4626,5906,28.583483,16.39,31.122005,0.591,<NA>,26.965265,107481,1937,<NA>
Argentina,2024-09-08,South America,45407904,76.3767,22461,16.592274,31.739,<NA>,0.849,4.99,76.860214,10102033,130671,186306
Australia,2024-09-08,Oceania,26200987,72.5398,51090,3.406256,37.512,0.497094,0.946,3.84,82.62102,11861160,25236,36645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,2024-09-08,South America,28213016,80.1106,<NA>,31.985733,28.81,<NA>,0.699,0.87,53.048817,552694,5856,<NA>
Vietnam,2024-09-08,Asia,99680656,72.3542,11396,318.03265,31.938,0.963795,0.726,2.6,86.23695,11623999,43206,<NA>
Yemen,2024-09-08,Asia,38222880,74.9362,<NA>,72.395935,18.118,19.802757,0.424,0.71,2.11145,11945,2159,<NA>
Zambia,2024-09-08,Africa,20152934,80.535,3365,27.109505,17.288,64.349754,0.569,<NA>,45.719406,349868,4078,<NA>
Zimbabwe,2024-09-08,Africa,16069061,76.6564,2207,41.538223,17.683,39.75453,0.55,1.7,35.236153,266388,5740,<NA>

In [5]:
final.total_cases.nlargest(10)

country
United States     103436827
China              99379132
India              45042835
France             38997489
Germany            38437755
Brazil             37511921
South Korea        34571873
Japan              33803571
Italy              26826486
United Kingdom     24983908
Name: total_cases, dtype: int64[pyarrow]

In [6]:
pd.DataFrame(final.total_cases.nlargest(10))

                total_cases
country
United States     103436827
China              99379132
India              45042835
France             38997489
Germany            38437755
Brazil             37511921
South Korea        34571873
Japan              33803571
Italy              26826486
United Kingdom     24983908

In [7]:
pd.DataFrame(final.total_cases.nlargest(10)).style.format('{:,d}')

In [8]:
pd.Series.nice = lambda series, format='{:,.0f}': pd.DataFrame(series).style.format(format)
pd.DataFrame.nice = lambda frame, format='{:,.0f}': frame.style.format(format)

In [9]:
final.total_cases.nlargest(10).nice()

In [10]:
final.nlargest(10, columns='total_deaths')[['total_cases', 'total_deaths']].nice()

In [11]:
final['cases_per_million'] = final.total_cases / (final.population / 1.0e6)
final['deaths_per_million'] = final.total_deaths / (final.population / 1.0e6)

In [12]:
final.nlargest(10, 'deaths_per_million')[['cases_per_million', 'deaths_per_million']].nice()

In [13]:
final.nlargest(10, 'deaths_per_million')[['cases_per_million', 'deaths_per_million']] \
     .assign(death_rate=lambda row: 100 * row.deaths_per_million / row.cases_per_million).nice('{:,.1f}')

In [14]:
final['excess_per_million'] = final.total_excess / (final.population / 1.0e6)

In [15]:
final.nlargest(10, 'excess_per_million')[['cases_per_million', 'deaths_per_million', 'excess_per_million']].nice()