# 08_01: Exploring data

In [1]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [2]:
gm = pd.read_csv('gapminder.csv')

In [3]:
gm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41822 entries, 0 to 41821
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           41822 non-null  object
 1   year              41822 non-null  int64
 2   region            41822 non-null  object
 3   population        41822 non-null  float64
 4   life_expectancy   40629 non-null  float64
 5   age5_surviving    40490 non-null  float64
 6   babies_per_woman  41822 non-null  float64
 7   gdp_per_capita    41822 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 2.6+ MB

In [4]:
gm.describe()

,year,population,life_expectancy,age5_surviving,babies_per_woman,gdp_per_capita
count,41822.000000,4.182200e+04,40629.000000,40490.000000,41822.000000,41822.000000
mean,1915.563818,1.414338e+07,45.147504,72.596526,5.242053,6124.325212
std,62.938582,6.871230e+07,16.831495,16.604898,1.728142,12328.127667
min,1800.000000,1.830000e+03,0.000000,24.400000,0.710000,386.000000
25%,1862.000000,3.310000e+05,32.000000,58.400000,4.220000,1220.000000
50%,1916.000000,1.920000e+06,37.300000,66.700000,5.810000,2100.000000
75%,1970.000000,6.617500e+06,60.100000,89.600000,6.550000,4970.000000
max,2023.000000,1.440000e+09,85.400000,99.857000,8.860000,218000.000000

In [5]:
incomes = pd.read_csv('incomes.csv')

In [6]:
incomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  4000 non-null   object
 1   year     4000 non-null   int64
 2   yearly   4000 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 93.9+ KB

In [7]:
incomes.country.unique()

array(['China', 'USA'], dtype=object)

In [8]:
incomes.year.unique()

array([1965, 2015])

In [9]:
incomes.describe()

              year         yearly
count  4000.000000    4000.000000
mean   1990.000000    9395.478736
std      25.003126   13605.455635
min    1965.000000      15.318452
25%    1965.000000     707.476317
50%    1990.000000    5112.191075
75%    2015.000000   12513.658506
max    2015.000000  256054.350614